<div class="page-header">
  <h1>Movie #<%= @movie.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <% if !@movie.title.nil? %>
      <dd><%= @movie.title %></dd>
  <% else %>
      <dd>&NonBreakingSpace;</dd>
  <% end %>

  <dt>Year</dt>
  <% if !@movie.year.nil? %>
      <dd><%= @movie.year %></dd>
  <% else %>
      <dd>&NonBreakingSpace;</dd>
  <% end %>

  <dt>Duration</dt>
  <% if !@movie.duration.nil? %>
      <dd><%= @movie.duration %></dd>
  <% else %>
      <dd>&NonBreakingSpace;</dd>
  <% end %>

  <dt>Description</dt>
  <% if !@movie.description.nil? %>
      <dd><%= @movie.description %></dd>
  <% else %>
      <dd>&NonBreakingSpace;</dd>
  <% end %>

  <dt>Director ID</dt>
  <% if !@movie.director_id.nil? %>
      <dd><%= @movie.director_id %></dd>
  <% else %>
      <dd>&NonBreakingSpace;</dd>
  <% end %>

  <dt>Image</dt>
  <dd><img src="<%= @movie.image_url %>" width="320"></dd>


</dl>
